.accounts-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: start;
  justify-content: start;
  justify-items: center;

  .accounts-group-title {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    font-size: 20pt;
  }

  .account-create-button {
    align-self: start;
  }

  .accounts-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    width: fit-content;
    max-height: calc(100vh - 130px);
    overflow-y: auto;

    .account-card {
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 20px;
      box-shadow: var(--main-color) 0 0 5px 1px;
      gap: 10px;

      .account-card-header {
        display: flex;
        align-items: start;
        gap: 15px;

        .account-title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          flex-grow: 1;
          gap: 10px;

          .account-name {
            font-size: 16pt;
            font-weight: bold;
          }

          .account-number {
            font-size: 12pt;
            opacity: 0.8;
          }
        }
      }

      .account-content {
        display: flex;
        align-items: center;
        gap: 20px;

        .account-money-info {
          display: flex;
          align-items: center;
          flex-grow: 1;
          gap: 10px;
          font-size: 16pt;

          .account-balance {

          }

          .account-currency {

          }
        }

        .account-buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5px;
        }
      }
    }
  }
}